// Colors
$basic-grey: #2c3531;
$darker-basic: #141816;
$light-grey: #e8ecf2;
$semi-grey: #657a71;
$border-grey: #c4c4c4;
$main-color: #116466;
$main-hover: #051f1f;
$secondary-color: #d9b08c;
$secondary-hover: #ffcb9a;
$third-color: #d1e8e2;
$white: #fff;

//Fonts
$font: "Dax", sans-serif;

// Spacing
$ss: 15px;
$s: 18px;
$m: 24px;
$l: 30px;
$ll: 45px;
$xl: 50px;
$xxl: 65px;
$desktop-breakpoint: 45rem;
