.data-wrapper {
  margin-left: 280px;
  padding: 20px;
  .dash-cards {
    overflow: auto;
    .data-table-title {
      font-size: 1.6rem;
      color: $main-color;
      display: block;
      text-align: center;
      margin: 8px 0;
    }
    .dash-card {
      background: #fff;
      border-radius: 5px;
      overflow: auto;
      height: auto;
      z-index: 99999 !important;
      .Collapsible__trigger {
        color: white;
        margin: 10px auto;
        display: block;
        height: 30px;
        width: 30px;
        line-height: 30px;
        -moz-border-radius: 30px; /* or 50% */
        border-radius: 30px; /* or 50% */
        background-color: $main-color;
        text-align: center;
        font-size: 1.2em;

        &:hover {
          cursor: pointer;
        }
      }
      .Collapsible__contentOuter {
        text-align: center;
        .Collapsible__contentInner {
          padding: 20px;
          max-width: 400px;
          margin: 0 auto;
          .add-asset-drop {
            margin: 0 auto;
            margin-top: 15px;
            max-width: 400px;
            .MuiFormLabel-root {
              margin-top: -8px;
            }
            .MuiOutlinedInput-root {
              height: 40px;
              padding: 0;
              padding-left: 8px;
            }
          }
          .add-transac-date-picker {
            position: relative;
            z-index: 99999 !important;
            margin-top: 15px;
            .react-datepicker__input-container input {
              width: 360px;
              border: solid $border-grey 1px;
              border-radius: 6px;
              height: 40px;
              padding-left: 8px;
            }
          }
          .form-group {
            margin: 0;
            .add-transac-input {
              border: solid $border-grey 1px;
              margin-top: 15px;
            }
          }
          .btn-add-transac {
            margin-top: 15px;
            color: $main-color;
          }
        }
      }
    }
  }
}
