.data-table-transac,
.data-table-asset,
.data-chart-summary {
  padding: 20px;
  z-index: -1 !important;
  background: red;
  .MuiTableCell-head {
    font-size: 1.1rem;
    color: $main-color;
  }
}
