.data-wrap {
  position: relative;
}

.data-body {
  font-family: "Roboto", sans-serif;
  background: $light-grey;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  right: 0;
  left: 0;
}
