@import url("https://fonts.googleapis.com/css?family=Roboto");

.login-page-bck {
  position: relative;
  background-color: black;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;
}

.login-page::after {
  content: "";
  background: url(/img/showcase.jpg) no-repeat center fixed;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.main-section {
  margin: 0 auto;
  margin-top: 200px;
  padding: 0;
}

.modal-content {
  background-color: $basic-grey;
  opacity: 0.8;
  padding: 0 18px;
  box-shadow: 0 0 3px $main-hover;
  max-width: 600px;
  margin: 0 auto;
}

.logo-img {
  margin-top: -50px;
  margin-bottom: 30px;
}

.logo-img img {
  width: 180px;
}

.LR-layout {
  .form-group {
    margin-bottom: 25px;
  }

  .form-group input {
    margin-bottom: 25px;
    border-radius: 5px;
    border: 0;
    padding-left: 30px;
  }
}

.floaty-icon {
  float: left;
  margin-left: 6px;
  margin-top: -52px;
  position: relative;
  z-index: 2;
}

.login-btn {
  height: 40px;
  width: 40%;
  margin: 5px 0 25px;
  background-color: $main-hover;
  color: white;
  border-radius: 5px;
  border-bottom: 4px solid $main-color;
}

.login-btn:hover,
.login-btn:focus {
  background-color: $main-hover !important;
  color: $border-grey;
  border-bottom: 4px solid $main-hover !important;
}

.login-google-button {
  height: 40px;
}

.login-google-button-img {
  padding-bottom: 20px;
  margin-left: 15px;
  background: url(/img/google-sign/main.png) no-repeat;
}

.login-google-button-img:hover {
  background: url(/img/google-sign/hover.png) no-repeat;
}

.login-google-button-img:active {
  background: url(/img/google-sign/focus.png) no-repeat;
}

.pied-de-form {
  margin-top: -20px;
  padding: 10px;
  margin-bottom: 10px;
}
.link-to-page-div {
  width: 100%;
}
.link-btn {
  color: $border-grey;
  text-align: center;
  width: 100%;
}
.link-btn:hover {
  text-decoration: none;
  color: $main-color;
}
.have-an-account {
  margin-bottom: 20px;
}

.confirm-email-in-progress {
  color: white;
  padding: 20px;
  .confirm-par {
    margin-bottom: 12px;
  }
}

.btn-link-confirm {
  text-decoration: none;
  color: $border-grey;
  padding-left: 10px;
  padding-right: 10px;
  &:hover {
    text-decoration: none;
    font-weight: bold;
    color: $main-color;
    border-left: 4px solid $main-color;
    border-right: 4px solid $main-color;
  }
}

.bot-bor {
  border-bottom: 4px solid $main-color;
}

.reset-password-modal {
  padding-top: 30px;
  .reset-password-h1 {
    color: $third-color;
    font-size: 20px;
    margin-bottom: 25px;
    padding-bottom: 5px;
    font-weight: 200;
    border-bottom: 1px solid $main-color;
  }
}
