.sideMenu {
  background: $basic-grey;
  width: 280px;
  position: fixed;
  top: 0;
  bottom: 0;

  .logo-side-menu {
    width: 120px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  nav {
    .side-menu-link {
      display: block;
      color: $light-grey;
      text-decoration: none;
      padding: 15px 30px;
      transition: all 0.3s ease-in-out;

      &:hover {
        .fas {
          color: $main-color;
        }
        background: $main-hover;
        border-left: 5px solid $main-color;
        padding: 15px 30px 15px 25px;
      }

      .fas {
        color: $light-grey;
        margin-right: 0.6rem;
        font-size: 1.2rem;
        display: inline-block;
        width: 30px;
        position: relative;
        top: 2px;
      }
      &.active {
        .fas {
          color: $main-color;
        }
        background: $darker-basic;
        border-left: 5px solid $main-color;
        padding: 15px 30px 15px 25px;
      }
    }
  }
}
